* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
}

a, :focus {
    outline: none;
}

#control_buttons {
    text-align: center;
    padding: 30px 20px 10px 20px;
}

.btn {
    border: 0;
    border-radius: 5px;
    background-color: #6200ee;
    color: #fff;
}

.btn-control {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.2em;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #6200ee;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #6200ee;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #6200ee;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.size-icon {
    font-size: 7em;
    color: #999;
}

.hide {
    display: none;
}

#no_content {
    text-align: center;
}

#message {
    margin-top: 20px;
    font-size: 1.2em;
}

#sort_type {
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background-color: #6200ee;
    color: #fff;
}