* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a, :focus {
    outline: none;
}

html, body {
    height: 100vh;
}

#control_buttons {
    text-align: center;
    padding: 30px 20px;
}

.btn-control {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.2em;
}

#game_buttons {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.btn {
    border: 0;
    border-radius: 5px;
    background-color: #6200ee;
    color: #fff;
}

#box_score {
    text-align: center;
    padding: 10px 20px 20px 20px;
}

#box_score h4 {
    font-size: 2.5em;
}

.btn-game {
    width: 40%;
    height: 25%;
    font-size: 2.5em;
    color: #fff;
}

.invisible {
    visibility: hidden;
}

.hide {
    display: none;
}

#progress_bar {
    width: 85%;
    height: 20px;
    margin: 20px auto 0 auto;
    background-color: #bbb;
    border-radius: 20px;
    overflow: hidden;
}

#progress {
    height: 20px;
    border-radius: 20px;
    background-color: #6200ee;
}

#end_message {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#end_message h1 {
    font-size: 3em;
}

#end_message h4 {
    font-size: 2em;
}

#form_score {
    margin-top: 50px;
    text-align: center;
}

#form_score input {
    margin: 0 auto 20px auto;
    display: block;
    height: 50px;
    width: 80%;
    border: none;
    font-size: 1.5em;
    text-align: center;
    border-bottom: solid 2px #6200ee;
    padding: 2px 10px;
    background-color: transparent;
}

#form_score input::placeholder {
    color: #000;
}

#form_score button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.2em;
}